/* Arabic Css Here */
@import url("./fonts.css");

body {
    font-size: 14px;
    font-family: 'Gothic', 'Molarabic';
    font-weight: 600;
    line-height: 21px;
    background: #FFFFFF;
    font-style: none;
}

.uniq-service-part .text-box {
    margin-right: -153px !important;
}
.uniq-service-part .text-box {
    margin-left: 0px;
    margin-top: 25px;
}

.banner-title {
    padding: 0px;
}




@media only screen and (min-width: 768px) and (max-width: 991px){
    .uniq-service-part .text-box {
        margin-right: 0px !important;
    }

}

@media only screen and (max-width: 767px) {
    .uniq-service-part .text-box {
        margin-right: 0px !important;
    }


}

@media only screen and (max-width: 576px) {

}


















