/* Arabic Css Here */
@import url("./fonts.css");

body {
    font-size: 14px;
    font-family: "Molarabic";
    font-weight: 600;
    line-height: 21px;
    background: #FFFFFF;
    font-style: none;
}


.arabic-button{
    margin-left: 0px;
}




@media only screen and (min-width: 768px) and (max-width: 991px){
    
}

@media only screen and (max-width: 767px) {
    
}

@media only screen and (max-width: 576px) {
    
}














